* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
body {
  background-color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 25px 80px;
}
.logo {
  font-size: 20px;
  font-weight: bold;
}
.nav-links {
  display: flex;
  gap: 30px;
}
.nav-links a {
  background-color: white;
  font-size: 17px;
  text-decoration: none;
  color: #000;
}

.hero {
  display: flex;
}
