* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: 'Epilogue', sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 25px 80px;
}
.logo {
  font-size: 20px;
  font-weight: bold;
}
.nav-links {
  display: flex;
  gap: 30px;
}
.nav-links a {
  background-color: white;
  font-size: 17px;
  text-decoration: none;
  color: #000;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.hero-text {
  margin-left: 80px;
  margin-bottom: 220px;
  letter-spacing: 0%;
}

.subtitle {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 40px;
}
.title {
  font-size: 68px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 30px;
}
.description {
  font-size: 17px;
  margin-bottom: 30px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 64px;
  border-radius: 0;
  background-color: black;
  font-size: 25px;
  color: white;
  margin-top: 48px;
}
.hero-image {
  margin-right: 100px;
  max-width: 100vh;
  margin-bottom: 50px;
}
.brands{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 68px;
}
.skills{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin: 42px 24px;
    text-align: center;

}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 64px;
}
.skill-img{
    margin-bottom: 42px;
}
.skills-heading{
    margin-bottom: 12px;
}
.skills-paraghraph{
    line-height: 135%;
}